/* 
Sources:
https://stackoverflow.com/questions/8720931/can-css-detect-the-number-of-children-an-element-has 
https://lea.verou.me/2011/01/styling-children-based-on-their-number-with-css3/
https://gist.github.com/Zodiac1978/d3a857b0520db51e84c0939cab853ebb
https://die-netzialisten.de/responsiveness-spalten-block-anpassen/
*/

@media (min-width: 600px) and (max-width: 781px) {

	/* 3 COLUMNS  */
	/* 1. Make first column span two columns on tablet view – needs !important */
	.wp-block-column:first-child:nth-last-child(3) {
		flex-basis: 100% !important;
	}

	/* 2. Take away margin of 2nd column */
	.wp-block-column:first-child:nth-last-child(3) ~ .wp-block-column {
		margin-left: 0;
	}

	/* 3. Add margin-left to third column */
	.wp-block-column:first-child:nth-last-child(3)
		~ .wp-block-column:nth-child(3) {
		margin-left: 2em;
	}

	/* 5 COLUMNS */
	/* 1. Make first column span two columns on tablet view */
	.wp-block-column:first-child:nth-last-child(5) {
		flex-basis: 100% !important;
	}

	/* 2. Take away margin of 5th column */
	.wp-block-column:first-child:nth-last-child(5) ~ .wp-block-column {
		margin-left: 0;
	}

	/* 3. Add margin-left to third and fifth column */
	.wp-block-column:first-child:nth-last-child(5)
		~ .wp-block-column:nth-child(3),
	.wp-block-column:first-child:nth-last-child(5)
		~ .wp-block-column:nth-child(5) {
		margin-left: 2em;
	}

}